* {
  /* --primary-colour: #146b3a;
  --xmas-red: #bb2528; */
}

body {
  /* background-color: var(--xmas-red); */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  /* color: white; */
  background-color: var(--primary-colour);
  width: 100%;
  margin-bottom: 30px;
  padding: 25px;
}

.divsContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  color: white;
  font: bold;
  width: auto;
  height: auto;
  background-color: var(--primary-colour);
  border-radius: 2.5%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
  /* background-color: var(--primary-colour);
    border-radius: 5%; */
}

.listTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-left: 10px;
  padding: 20px;
  width: 30%;

  /* background-color: var(--primary-colour);
    border-radius: 5%; */
}

.participantListItem {
  margin-bottom: 10px;
}

.inputFieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
  font-size: 1rem;
  /* padding: 10px; */
  margin: 10px;
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* label {
  margin-right: 25px;
  /* line-height: 26px; */
  /* margin-bottom: 10px;
} */

/* input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
} */

.listHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding: 10px; */
  margin: 10px;
}

.cardComponent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  background-color: var(--primary-colour);
  border: 3px solid white;
}
.generateButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex: 1;
  padding: 10px;
  margin: 5px;
}
.generateButton {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 16px;
  padding: 11px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: solid;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.generateButton:hover {
  background: #ffffffcc;
}
.generateButton:active {
  background: #ffffff;
}

/* border: 4px solid rgb(187, 37, 40); */
