* {
 --primary-colour: #146b3a;
 --xmas-red: #bb2528;
}

body {
  /* background-color: var(--xmas-red); */
  background-image: url('../../icons/presentbackground.png');
  background-repeat: repeat;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-main-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  /* color: white; */
  height: 80vmin;
  background-color: #ffffffe3;
  /* padding: 20px; */
  margin-top: 10vmin;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}


button{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(249,250,251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

/* .listTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-left: 10px;
  padding: 20px;
  width: 30%;

   background-color: var(--primary-colour);
    border-radius: 5%;
} */

.participantListItem {
  margin-bottom: 10px;
}

.inputFieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* label {
  margin-right: 25px;
  /* line-height: 26px; */
  /* margin-bottom: 10px;
} */

/* input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
} */

.listHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding: 10px; */
  margin: 10px;
}

.cardComponent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  background-color: var(--primary-colour);
  border: 3px solid white;
}
.generateButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex: 1;
  padding: 10px;
  margin: 5px;
}
.generateButton {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 16px;
  padding: 11px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: solid;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.generateButton:hover {
  background: #ffffffcc;
}
.generateButton:active {
  background: #ffffff;
}

/* border: 4px solid rgb(187, 37, 40); */
